/* 全体 */
html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #151515 url('../images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-size: 1.4rem;
    font-family: sans-serif;
    width: 100%;
}

.wrapper {
    overflow: hidden;
}

/* ヘッダー */

header {
    text-align: center;
    padding: 170px 30px 80px;
    width: 100%;
}

.site-title {
    color: rgb(202, 202, 33);
    margin: 50px 0 40px;
    font-size: 7.6rem;
    font-family: 'Hiragino Kaku Gothic StdN';
}

.site-title-sub {
    color: rgb(202, 202, 33);
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.site-title-sub::before,
.site-title-sub::after {
    content: '';
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: rgb(202, 202, 33);
    vertical-align: middle;
}

.site-description {
    margin-bottom: 50px;
    color: #888;
    font-size: 1.6rem;
}

.button {
    width: 200px;
    padding: 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;;
}

.buttons .button {
    margin: 10px;
}

@media (max-width: 630px) {
    .site-title-sub::before,
    .site-title-sub::after {
        content: '';
        display: inline-block;
        width: 47px;
        height: 2px;
        margin: 0 10px;
        background-color: rgb(202, 202, 33);
        vertical-align: middle;
}

    .site-description {
        margin-bottom: 50px;
        color: #888;
        font-size: 1.6rem;
}
}

/* ナビバー */

.navbar {
    font-size: 1.5rem;
}

.nav-item {
    margin-left: 20px;
}

/* アバウト */

.about {
    padding: 80px 30px;
    background-color: #eee;
    color: black;
    text-align: center;
}

.heading {
    position: relative;
    display: inline-block;
    margin: 30px 0 30px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 5rem;
}

.heading::before,
.heading::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid black;
}

.heading::before {
    bottom: 5px;
}

.my-image {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.intro-title {
    font-size: 2.5rem;
    font-family: impact;
    margin-bottom: 10px;
}

.intro-detail {
    font-size: 2.0rem;
    font-family: impact;
    margin-bottom: 20px;
    line-height: 1.5;
}

.skills {
    padding: 80px 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
}

.skill-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    color: #f1b400;
    font-size: 8rem;
    line-height: 142px;
}

.skill-item {
    margin-top: 60px;
}

.skill-title {
    margin-top: 0 20px 20px;
    font-size: 2.5rem;
}

.skill-text {
    margin: 20px 20px;
    font-size: 2.0rem;
    line-height: 1.5;
}

/* 作品 */

.works {
    padding: 80px 30px;
    background-color: #333;
    color: white;
    text-align: center;
}

.heading2 {
    position: relative;
    display: inline-block;
    margin: 30px 0 30px;
    color: white;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 5rem;
}

.heading2::before,
.heading2::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid white;
}

.heading2::before {
    bottom: 5px;
}

.work-title {
    margin: 0 20px 20px;
    font-size: 2.5rem;
}

.work-text {
    margin: 20px 20px;
    font-size: 2.0rem;
    line-height: 1.5;
} 

.work-top {
    margin-top: 60px;
}

.site-link {
    transition: opacity 0.15s;
}

.site-link:hover {
    opacity: 0.8;
}

.service-img {
    width: 100%;
    margin-bottom: 60px;
}

.service-img3 {
    width: 100%;
}

.button2 {
    width: 100px;
    padding: 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.contact {
    padding: 80px 30px;
    color: white;
    text-align: center;
}

.heading3 {
    position: relative;
    display: inline-block;
    margin: 30px 0 30px;
    color: rgb(202, 202, 33);
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 5rem;
}

.heading3::before,
.heading3::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgb(202, 202, 33);
}

.heading3::before {
    bottom: 5px;
}

.contact-form {
    width: 50%;
    margin: 60px auto 0;
}

.contact input[type=text],
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(255,255,255, 0.4);
    border-radius: 0;
    background-color: rgba(255,255,255, 0.05);
    color: #fff;
}

.contact-form textarea {
    height: 150px;
}

.contact-form input[type=submit] {
    display: block;
    width: 200px;
    margin: 40px auto 0;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.contact-form input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}

footer {
    padding: 30px 0;
}


footer ul li {
    list-style: none;
}

footer ul li a {
    color: rgb(202, 202, 33);
    font-size: 1.3rem;
}

footer ul li a:hover {
    color: rgb(134, 134, 6);
    text-decoration: none;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}



@media (max-width: 768px) {
   .contact-form {
       width: 80%;
   }

   .contact {
       padding-bottom: 80px;
   }
} 

